.footer{
    margin-top: 30px;
    background-color: #222222;
    padding-top: 30px;
}
.contact p{
    color: #c4c4c4;
}
.contact p:nth-child(2){
    font-size: 15px;
    color: #8c8c8c;
}

.contact a{
    color: #8c8c8c;
    font-size: 15px;
}
.contact img{
    border-radius: 10px;
}
.contact a:hover{
    color: #dd8f22;
}
.input_email{
    position: relative;
}
#input_email{
    width: 100%;
    padding: 0 13px;
    line-height: 30px;
    border-radius: 5px;
    background: #393939;
    color: #8c8c8c;
    padding-right: 44px;
    border: 1px solid transparent;
}
#input_email:focus{
    outline: none;
}
.input_email button{
    position: absolute;
    top: 0;
    right:0;
    border: 1px solid transparent;
    background: #393939;
    color: #8c8c8c;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #8c8c8c ;
    padding: 3px 10px;
}
.input_email button:hover{
    color: #dd8f22;
}
.fa i{
    font-size: 30px;
    color: #8c8c8c;
    padding: 10px;
}
.fa-facebook:hover{
    color: #0984e3;
    transition: .3s;
}
.fa-youtube:hover{
    color: #d63031;
    transition: .3s;
}
.fa-instagram:hover{
    color:#f8a5c2;
}